@import url("./global.css");

.navbar {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5rem;
  gap: 3rem;
}

.navbar ul li {
  text-align: center;
}

.navbar a {
  font-size: 1.5rem;
  transition: 0.3s ease;
  color: #562188;
}
.navbar a::after {
  content: "";
  display: block;
  width: 0%;
  background-color: rgb(86, 33, 136);
  height: 3px;
  transition: 0.6s;
}
.navbar a:hover::after {
  content: "";
  display: block;
  width: 100%;
  background-color: rgb(86, 33, 136);
  height: 3px;
}
.logo {
  padding: 1rem;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}
.logo a img {
  width: 8rem;
}
.logo a:hover {
  transform: scale(1.1);
}
.span-1 {
  color: #562188;
}
.span-2 {
  color: #ed5f1e;
}

.home {
  display: flex;
  height: fit-content;
}
.img-container img {
  width: 100%;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
  align-items: center;
  min-height: 100vh;
}
.img-pessoal {
  display: flex;
  justify-content: center;
}
.img-pessoal .img-container img {
  width: 25rem;
  box-shadow: 0 0 0 2px #ed5f1e, 8px 8px 0 0 #ed5f1e;
  /* border-radius: 7.5rem 3rem; */
  /* box-shadow: 0 0 1.5rem rgb(247, 27, 255); */
}
.texto-pessoal {
  width: 43rem;
}
.texto-pessoal h1 {
  font-size: 4rem;
  color: #562188;
}
.texto-pessoal h3 {
  font-size: 2rem;
  color: #562188;
}
.texto-pessoal p {
  text-align: justify;
  font-size: 1.3rem;
  margin: 1rem 0 0;
  color: #562188;
}
.btn-box {
  width: 25rem;
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
}

.btn-1 {
  padding: 1rem 1.7rem;
  background-color: #ed5f1e;
  color: white;
  border: 0.1rem solid transparent;
  border-color: #ed5f1e;
  /* border-radius: 0.5rem; */
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.1s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: #ed5f1e;
  border: 0.1rem solid transparent;
  border-color: #ed5f1e;
  transform: scale(1.1);
}


.btn-2 {
  padding: 1rem 1.7rem;
  background-color: #562188;
  color: white;
  border: 0.1rem solid transparent;
  /* border-radius: 0.5rem; */
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.1s ease;
  cursor: pointer;
}
.btn-2:hover {
  background-color: white;
  color: #562188;
  border: 0.1rem solid transparent;
  border-color: #562188;
  transform: scale(1.1);
}
.eventos {
  padding: 8rem 0;
}
.lista-principal {
  padding: 2rem;
}

.lista-principal li {
  padding: 2rem 0;
}

.lista-escondida {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
}
.lista-escondida img {
  width: 10rem;
  box-shadow: 0 0 0 2px #ed5f1e, 8px 8px 0 0 #ed5f1e;
}
